@import "fonts.css";
:root {
    --fa-primary-color: rgb(83, 83, 83);
    --fa-secondary-color: rgb(146, 146, 146);
}

* {
    direction: rtl;
    font-family: iransans;
    box-sizing: border-box;
}

.menu-items {
    list-style-type: none;
    transition: all .4s ease;
}

.menu-items:hover {
    color: darkcyan !important;
}

.pointer-event {
    cursor: pointer;
}

.background {
    background: #151616 url(../img/flower.png) top center no-repeat;
}

.img-ballon {
    height: 35vh;
    object-fit: cover;
}


/* ---------------------------- Home ------------------------------------ */

.img_top {
    height: 20vh;
    border-radius: 30px;
    object-fit: cover;
}

.imges_header_item {
    object-fit: cover;
    width: 46% !important;
}

.discription {
    overflow: hidden;
}

.resereve_form {
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.border-form-reserve {
    border: 2px solid rgba(124, 114, 114, 0.479);
}

.img_sini {
    height: 20vh;
    width: 50vw !important;
    object-fit: cover;
}

.loading {
    height: 100%;
    background: #000000a3;
    position: absolute;
    right: 1px;
    display: flex;
    justify-content: center;
}

.list-style {
    list-style: disc;
}

.justify {
    text-align: justify;
}


/* ...........................Gallery.............................. */

.img_top_gallery {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    height: 110px;
}

.img_around_gallery {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    height: 42vh;
}

.img_under_gallery {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    height: 110px;
    position: relative;
    display: block;
    left: 0%;
}

.gallery-under-row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.img_gallery_under_tow {
    width: 67%;
    object-fit: cover;
    height: 15vh;
}

@media only screen and (min-width:576px) {
    .img_under_gallery {
        left: 20%;
        position: absolute;
        width: 35% !important;
    }
    .gallery-under-row {
        width: 207%;
    }
    .img_gallery_under_tow {
        height: 19vh;
    }
    .img_top {
        height: 40vh;
    }
    .imges_header_item {
        height: 23vh;
        width: 42% !important;
    }
}