:root{
    --fa-primary-color: rgb(83, 83, 83);
    --fa-secondary-color: rgb(146, 146, 146);
}

*{
    direction: rtl;
    font-family: 'iransans';
}

header{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}


.logo-img{
    width: 40%;
}
.offcanvas-title{
    font-weight: 900;
}

li{
list-style-type: none;
margin: 1.5rem 0;
}

.md-menu{
    display: none;
}
/* tablet */
@media only screen and (min-width:768px){
    .sm-buttons-container{
        display: none;
    }
    .md-menu{
        display: block;
    }
    .sm-menu{
        display: none;
    }
    li{
        display: inline-block;
        margin: .5rem;
    }
    .logo-img{
        width: 20%;
    }
    .login-btn,
    .fa-basket-shopping{
        margin: 0 1rem;
    }
    
}
