:root{
    --fa-primary-color: rgb(83, 83, 83);
    --fa-secondary-color: rgb(146, 146, 146);
}

*{
    direction: rtl;
    font-family: 'iransans';
}

header{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}


.logo-img{
    width: 40%;
}
.offcanvas-title{
    font-weight: 900;
}

li{
list-style-type: none;
margin: 1.5rem 0;
}
.login-btn{
    width: 100%;
}
.left-header{
    width: 20%;
}
.larg-menu{
    display: none;
}
/* tablet */
@media only screen and (min-width:480px){
    .logo-img{
        width: 20%;
    }
}
/* small screens (Laptop) */
@media only screen and (min-width:768px){
    .logo-img{
        width: 20%;
    }
    .mobile-menu{
        display: none;
    }
    .larg-menu{
        display: block;
    }
    li{
        display: inline-block;
        margin: .5rem;
    }
}